.frame {
  border-radius: 10px;
  background-color: white;
}

.f-14b {
  font-size: 14px;
  font-weight: bold;
}

.f-14 {
  font-size: 14px;
}

.f-16b {
  font-size: 15px;
  font-weight: 600;
}

.circle {
  border-radius: 50%;
}

/* ADV PREMIUM */

.rd {
  border-radius: 50px;
}

.border-bot {
  border-bottom: 1px #aaafb3 solid;
}

.border-top {
  border-top: 1px #aaafb3 solid;
}

.show-btn {
  text-decoration: none;
  border-radius: 0;
}

.profile-pic-50 {
  width: 50px;
  height: 50px;
}
